<div class = "search">
    <select>
        <option value = 'all' id = "all">All</option>
        <option value = 'title' id = "title">Title</option>
        <option value = 'genre' id = "genre">Genre</option>
        <option value = 'date' id = "date">Publication Date</option>
    </select>
    <input id = 'searchbar' placeholder = "Search by Title, Genre, or Publication Date" type = 'text'>
    <button id = "submit">Go</button>
</div>
<div class ="Browse">
    <h2>Fiction & Literature</h2>
    <ul>
        <a href = "#"><li>Folklore & Mythology</li></a>
        <a href = "#"><li>General Fiction</li></a>
        <a href = "#"><li>Horror</li></a>
        <a href = "#"><li>Literature</li></a>
        <a href = "#"><li>Mystery</li></a>
        <a href = "#"><li>Poetry</li></a>
        <a href = "#"><li>Romance</li></a>
        <a href = "#"><li>Science Fiction & Fantasy</li></a>
        <a href = "#"><li>Thillers</li></a>
        <a href = "#"><li>Westerns</li></a>
    </ul>

    <h2>Nonfiction</h2>
    <ul>
        <a href = "#"><li>
            Art, Architecture & Photography
        </li></a>
        <a href = "#"><li>Astrology</li></a>
        <a href = "#"><li>Biography</li></a>
        <a href = "#"><li>Business Books</li></a>
        <a href = "#"><li>Computers</li></a>
        <a href = "#"><li>Cookbooks & Food</li></a>
        <a href = "#"><li>Craft & Hobbies</li></a>
        <a href = "#"><li>Politics</li></a>
        <a href = "#"><li>Education</li></a>
        <a href = "#"><li>History</li></a>
        <a href = "#"><li>Foreign Languages</li></a>
        <a href = "#"><li>Nature</li></a>
        <a href = "#"><li>Pets</li></a>
        <a href = "#"><li>Pyschology</li></a>
        <a href = "#"><li>Science & Technology</li></a>
        <a href = "#"><li>True Crime</li></a>
    </ul>
</div>
